:root {
    /* Definición de las variables para los colores de la paleta de colores */

    /* Dark blue */
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    
    /* Light blue */
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    
    /* Gray */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}

/* Estilo de la selección de texto en todos los elementos */
::selection {
    background-color: var(--dark-blue-100); /* Color de fondo de la selección */
    color: var(--light-blue-100); /* Color del texto seleccionado */
}


html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--light-blue-100);
    position: relative;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    width: 62.5vw;
    top: 3.76175vh;
    left: 2.7778vw;
}

header section {
    text-align: center;
    width: 8.334vw;
    height: 48px;
}

header section img {
    width: 31px;
    height: 48px;
}

header h1 {
    margin-left: 4.8vw;
    font-family: Inter;
    font-size: 34px;
    color: var(--dark-blue-300);
    font-weight: bold;
}

#menu-idiomas {
    position: absolute;
    height: auto;
    top: 12.0376vh;
    left: 2.7778vw;
    display: flex;
    padding: 1.5em;
    flex-direction: column;
    align-items: center;
    gap: 0.63em;
    border-radius: 50em;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0em 0.5em 1.5em 0em rgba(0, 0, 0, 0.04);
}

#menu-idiomas section {
    position: relative;
    display: flex;
    padding: 1em;
    max-height: 8em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: auto;
    border-radius: 50em;
    background: white;
}

.idioma {
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    font-weight: normal;
    background-color: transparent;
    font-family: Inter;
    cursor: pointer;
    color: var(--dark-blue-300);
}

.idioma.presionado {
    color: white;
    background-color: var(--dark-blue-300);
}

.idioma:not(.presionado):hover {
    background-color: var(--light-blue-200);
}

main {
    position: relative;
    top: 7.28582vh;
    display: inline-block;
    left: 16.6667vw; /* 15em */
}


textarea {
    background-color: transparent;
    font-family: Inter;
    /*resize: none;
    border: none;*/
    outline: none;
}

#texto-entrada {
    color: var(--dark-blue-300);
    line-height: 1.5;
    font-size: 30px;
    
    width: 675px; /* Ancho del textarea de la entrada de los datos, tratar de hacer responsivo */
    height: 16.5em;
}

/* Cambiar el color del texto del placeholder en todos los textarea */
#texto-entrada::placeholder {
    color: var(--dark-blue-200); /* Cambia el color del texto del placeholder */
}

#precaucion {
    display: flex;
    align-items: center;
    margin-top: .5em;
}

#precaucion img {
    display: inline-block;
    width: 1em;
    margin-right: 8px;
}

#precaucion p {
    display: inline-block;
    color: var(--gray-400);
    font-family: Inter;
}

#botones {
    align-items: flex-start;
    display: flex;
    width: 670px; /* Ancho del section que contiene los botones 'Encriptar' y 'Desencriptar', tratar de hacer responsivo */
    gap: 1.85em;
    margin-top: 1em;
}

.boton {
    border-radius: 1.5em;
    font-family: Inter;
    padding: 1.5em;
    width: 23vw;/*328px;*/
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
    background-color: transparent;
    border: solid 1px var(--dark-blue-300);
    color: var(--dark-blue-300);
}

.boton:first-child {
    background-color: var(--dark-blue-300);
    color: white;
    border: none;
}

#resultados {
    display: inline;
    position: relative;
    width: 400px;
    height: 92vh;
    top: 40px;
    left: 69vw;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);    
}

#resultados button{
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%, 50%);
}

#resultado {
    height: 100%;
    background-color: transparent;
    border-radius: 32px;
}

#resultado button {
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, 50%);
}

#texto-salida {
    color: var(--gray-400);
    line-height: 1.5;
    font-size: 24px;
    width: 336px;
    height: 21.669em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -57%);
}

#error {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 336px;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

#error img {
    width: 336px;
    margin-bottom: 1em;
}

#error h2 {
    color: var(--gray-500);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
}

#error p {
    color: var(--gray-400);
    text-align: center;
    font-family: Inter;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
}




