:root {
    /* Definición de las variables para los colores de la paleta de colores */

    /* Dark blue */
    --darkBlue100: #609ED4;
    --darkBlue200: #356EA9;
    --darkBlue300: #0A3871;
    --darkBlue400: #072B61;
    --darkBlue500: #052051;
    
    /* Light blue */
    --lightBlue100: #F3F5FC;
    --lightBlue200: #EFF1FA;
    --lightBlue300: #E9ECF8;
    --lightBlue400: #AAB2D5;
    --lightBlue500: #757FB2;
    
    /* Gray */
    --gray100: #CED4DA;
    --gray200: #ADB5BD;
    --gray300: #868E96;
    --gray400: #495057;
    --gray500: #343A40;

    /* Variables para mantener el alineamiento entre la parte izquierda y derecha del main */
    --textareaHeight: 60vh;
    --marginTop: 1.5vh;
    --marginBottom: 3vh;
    --gap: 4vh;

    /* Variable para los margenes generales de la página, ademas del margin-left que tiene el h1 y el main. */
    --margin: 2vw;

    /* Variable para el ancho del logo y el menu de idioma en el caso de desktop*/
    --width: 10.5vw;
}

/* Estilo de la selección de texto en todos los elementos */
::selection {
    background-color: var(--darkBlue100); /* Color de fondo de la selección */
    color: var(--lightBlue100); /* Color del texto seleccionado */
}

body {
    background-color: var(--lightBlue100);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    margin: var(--margin);
}

header section {
    text-align: center;
    width: var(--width);
    height: 48px;
}

header section img {
    width: 31px;
    height: 48px;
}

header h1 {
    color: var(--darkBlue300);
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    width: calc(100vw - var(--width) - var(--margin) - var(--margin) - var(--margin));
    margin-left: var(--margin);
}

#menuIdiomas {
    justify-content: center;
    display: inline-flex;
    margin-left: var(--margin);
    width: var(--width);
}

#menuIdiomas nav {
    width: fit-content;
    padding: 1.5em;
    border-radius: 50em;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0em 0.5em 1.5em 0em rgba(0, 0, 0, 0.04);
}

#menuIdiomas nav section {
    position: relative;
    display: flex;
    padding: 1em;
    max-height: 12em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: auto;
    border-radius: 50em;
    background: white;
}

.idioma {
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    font-weight: normal;
    background-color: transparent;
    font-family: Inter;
    cursor: pointer;
    color: var(--darkBlue300);
}

.idioma.presionado {
    background-color: var(--darkBlue300);
    color: white;
}

.idioma:not(.presionado):hover {
    background-color: var(--lightBlue200);
}

main {
    display: inline-flex;
    width: calc(100vw - var(--width) - var(--margin) - var(--margin) - var(--margin));
    justify-content: space-between;
    gap: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
}

#interacionUsuario {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);
    gap: calc((var(--gap)) / 2)
}

textarea {
    background-color: transparent;
    font-family: Inter;
    resize: none;
    border: none;
    outline: none;
    height: var(--textareaHeight);
}

#textoEntrada {
    color: var(--darkBlue300);
    line-height: 1.5;
    font-size: 30px;
    width: 100%; 
}

#textoEntrada::placeholder {
    color: var(--darkBlue200);
}

#precaucion {
    align-items: center;
    flex-direction: row;
    margin-top: -16px;
    display: flex;
    gap: .5em;
}

#precaucion img {
    width: 1em;
}

#precaucion p {
    color: var(--gray400);
    font-family: Inter;
}

#botones {
    display: flex;
    width: 100%;
    gap: 3vw;
}

.boton {
    border-radius: 1.5em;
    font-family: Inter;
    padding: 2.5vh;
    width: 50%;
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
    background-color: transparent;
    border: solid 1px var(--darkBlue300);
    color: var(--darkBlue300);
}

#botonEncriptar {
    background-color: var(--darkBlue300);
    color: white;
}

#resultados {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 40%;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#resultado {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    margin-bottom: var(--marginBottom);
    margin-top: var(--marginTop);
}

#textoSalida {
    color: var(--gray400);
    line-height: 2;
    font-size: 24px;
    width: 25vw;
}

#botonCopiar {
    width: 80%;
}

#error {
    display: flex;
    width: 23.33vw;
    height: 100%;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--darkBlue300);
}

#error img {
    width: 23.33vw;
    margin-bottom: 1em;
}

#error h2 {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
}

#error p {
    text-align: center;
    font-family: Inter;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1.2vh 0;
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
  
footer section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5vw;
}

.desarrollador p {
    font-size: 18px;
    color: var(--darkBlue300);
}

.desarrollador p b {
    font-weight: 550;
}

