:root {
    /* Definición de las variables para los colores de la paleta de colores */

    /* Dark blue */
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    
    /* Light blue */
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    
    /* Gray */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;

    /* Variables para mantener el alineamiento entre la parte izquierda y derecha de la página */
    --textarea-height: 65.5vh;
    --margin-top: 1.5vh;
    --margin-bottom: 3vh;
    --gap: 4vh;
}

/* Estilo de la selección de texto en todos los elementos */
::selection {
    background-color: var(--dark-blue-100); /* Color de fondo de la selección */
    color: var(--light-blue-100); /* Color del texto seleccionado */
}


html, body {
    background-color: var(--light-blue-100);
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 94.2vw;
    top: 3.76175vh;
    left: 2.7778vw;
}

header section {
    text-align: center;
    width: 10.512vw;
    height: 48px;
}

header section img {
    width: 31px;
    height: 48px;
}

header h1 {
    color: var(--dark-blue-300);
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    
    width: 80.5vw;
    margin-left: 3.1vw;
}

#menu-idiomas {
    position: absolute;
    height: auto;
    top: 12.0376vh;
    left: 2.7778vw;
    display: flex;
    padding: 1.5em;
    flex-direction: column;
    align-items: center;
    gap: 0.63em;
    border-radius: 50em;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0em 0.5em 1.5em 0em rgba(0, 0, 0, 0.04);
}

#menu-idiomas section {
    position: relative;
    display: flex;
    padding: 1em;
    max-height: 12em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow-y: auto;
    border-radius: 50em;
    background: white;
}

.idioma {
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    font-weight: normal;
    background-color: transparent;
    font-family: Inter;
    cursor: pointer;
    color: var(--dark-blue-300);
}

.idioma.presionado {
    background-color: var(--dark-blue-300);
    color: white;
}

.idioma:not(.presionado):hover {
    background-color: var(--light-blue-200);
}

main {
    position: relative;
    top: 5vh;
    display: flex;
    width: calc(100vw - 16.6667vw - 3vw);
    margin-left: 16.6667vw;
    margin-right: 3vw;
    flex-wrap: wrap;
    justify-content: space-between;

}

#interacion-usuario {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 58%;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-bottom);
    gap: calc((var(--gap)) / 2)
}

textarea {
    background-color: transparent;
    font-family: Inter;
    resize: none;
    border: none;
    outline: none;
    height: var(--textarea-height);
}

#texto-entrada {
    color: var(--dark-blue-300);
    line-height: 1.5;
    font-size: 30px;
    width: 100%; 
}

#texto-entrada::placeholder {
    color: var(--dark-blue-200);
}

#precaucion {
    align-items: center;
    flex-direction: row;
    margin-top: -16px;
    display: flex;
    gap: .5em;
}

#precaucion img {
    width: 1em;
}

#precaucion p {
    color: var(--gray-400);
    font-family: Inter;
}

#botones {
    display: flex;
    width: 100%;
    gap: 3vw;
}

.boton {
    border-radius: 1.5em;
    font-family: Inter;
    padding: 2.5078vh;
    width: 50%;
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
    background-color: transparent;
    border: solid 1px var(--dark-blue-300);
    color: var(--dark-blue-300);
}

#boton-encriptar {
    background-color: var(--dark-blue-300);
    color: white;
}

#resultados {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 30vw;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#resultado {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    margin-bottom: var(--margin-bottom);
    margin-top: var(--margin-top);
}

#texto-salida {
    color: var(--gray-400);
    line-height: 2;
    font-size: 24px;
    width: 25vw;
}

#boton-copiar {
    width: 80%;
}

#error {
    display: flex;
    width: 23.33vw;
    height: 100%;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue-300);
    
    border: #052051 1px solid;
}

#error img {
    width: 23.33vw;
    margin-bottom: 1em;
}

#error h2 {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
}

#error p {
    text-align: center;
    font-family: Inter;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1.5vh 0;
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
  
  
footer section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5vw;
}

.desarrollador p {
    font-size: 18px;
    color: var(--dark-blue-300);
}

.desarrollador p b {
    font-weight: 550;
}

